/* for welcome.html */

body {
    background-color: #fcba03;
    background-image: url(../img/background-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: /* contain */ cover;
    font-family: 'Rubik', sans-serif;
}

body hr {
    border: 1px dashed #ff0000;
}

header {
    text-align: center;
    text-decoration: underline;
    color: #ff0000;
}



ol, ul {
    text-align: center;
    list-style: inside;
    width: 75%;
    margin: auto;
    font-size: 1.5em;
}

ul {
    list-style-type: square;
}

section h2 {
    width: 75%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    padding: 15px;
}

#section-vision img {
    border: .5px solid white;
    display: block;
    margin: auto;
}

#section-table table, td, th {

    width: 75%;
    margin: auto;
    text-align: left;
    border-collapse: collapse;
    font-size: 1.2em;
    border: 2px solid black;
}

#section-table th {
     text-align: center;
 }

#section-table>p {
    width: 75%;
    margin: auto;
}

.column-two {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.column-three {
    column-width: auto;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

footer {
    width: 50%;
    margin: 50px;
    padding: 15px;
}

a:link {
    color:red;
}

a:visited {
    color:purple;
}

a:hover {
    color: blue;
}

a:active {
    color: green;
}
/*  */