body {

}
.aspectRatioLg {
    background-color: whitesmoke;
    border: 5px;
    width: 218px;
}
.aspectRatioSm {
    background-color: whitesmoke;
    border: 1px solid black;
    height: 90px;
    width: 90px;
}
.currentTemp {
    font-size: 3em;
}
.forecastLightBG {
    background-color: whitesmoke;
}
.forecastDarkBG {
    background-color: #E6ECF0;
}
.weatherIconBG {
    background-color: whitesmoke;
}
.normalSize {
    font-size: .25em;
}
.windSize {
    font-size: .75em;
}
.cardHead {
    background-color: #888888;
}
.tomorrowCooler {
    color: blue;
    font-style: italic;
    font-weight: bold;
}
.tomorrowSame {
    color: green;
    font-style: italic;
    font-weight: bold;
}
.tomorrowWarmer {
    color: red;
    font-style: italic;
    font-weight: bold;
}
.currentBG {
    background-color: #DDDDDD;
}
.arrow {
    padding-top: 22.5%;
    color: red;
}
.arrowN {
    transform: rotate(-45deg);
}
.arrowNNE {
    transform: rotate(-22.5deg);
}
.arrowNE {
    /** native direction **/
}
.arrowENE {
    transform: rotate(22.5deg);
}
.arrowE {
    transform: rotate(45deg);
}
.arrowESE {
    transform: rotate(67.5deg);
}
.arrowSE {
    transform: rotate(90deg);
}
.arrowSSE {
    transform: rotate(112.5deg);
}
.arrowS {
    transform: rotate(135deg);
}
.arrowSSW {
    transform: rotate(157.5deg);
}
.arrowSW {
    transform: rotate(180deg);
}
.arrowWSW {
    transform: rotate(-157.5deg);
}
.arrowW {
    transform: rotate(-135deg);
}
.arrowWNW {
     transform: rotate(-112.5deg);
 }
.arrowNW {
      transform: rotate(-90deg);
  }
.arrowNNW {
       transform: rotate(-67.5deg);
   }
.initMapSize {
    width:  60%;
    height: 480px;
}
.mapSize {
    width: 100%;
    height: 100%;
}





